<?xml version="1.0" encoding="utf-8"?>
<!-- Kopiér til Secrets.config og udfyld mail-login. Secrets.config må ALDRIG committes. -->
<appSettings>
  <add key="SmtpHost" value="websmtp.simply.com" />
  <add key="SmtpPort" value="587" />
  <add key="SmtpBruger" value="anemette@anemetteolesen.dk" />
  <add key="SmtpKodeord" value="KODEORD" />
</appSettings>
