body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

#kontaktformular {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #0CF;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

#formular input[type="text"], #formular input[type="email"], #formular input[type="tel"], #formular input[type="url"], #formular textarea, #formular button[type="submit"] {
    font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#formular {
    background: #F9F9F9;
    padding: 25px;
    margin: 50px 0;
}

    #formular h3 {
        color: #F96;
        display: block;
        font-size: 30px;
        font-weight: 400;
    }

    #formular h4 {
        margin: 5px 0 15px;
        display: block;
        font-size: 13px;
    }

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#formular input[type="text"], #formular input[type="email"], #formular input[type="tel"], #formular input[type="url"], #formular textarea {
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}

    #formular input[type="text"]:hover, #formular input[type="email"]:hover, #formular input[type="tel"]:hover, #formular input[type="url"]:hover, #formular textarea:hover {
        -webkit-transition: border-color 0.3s ease-in-out;
        -moz-transition: border-color 0.3s ease-in-out;
        transition: border-color 0.3s ease-in-out;
        border: 1px solid #AAA;
    }

#formular textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#formular button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #0CF;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

    #formular button[type="submit"]:hover {
        background: #09C;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;
    }

    #formular button[type="submit"]:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }

#formular input:focus, #formular textarea:focus {
    outline: 0;
    border: 1px solid #999;
}

::-webkit-input-placeholder {
    color: #888;
}

:-moz-placeholder {
    color: #888;
}

::-moz-placeholder {
    color: #888;
}

:-ms-input-placeholder {
    color: #888;
}

/*Tabel-prioritet på tværs af skærmstørrelser*/
@media screen and (max-width: 1225px) and (min-width: 1045px) {
    .priority-5 {
        display: none;
        
    }
}

@media screen and (max-width: 1045px) and (min-width: 835px) {
    .priority-5 {
        display: none;
    }

    .priority-4 {
        display: none;
    }
}

@media screen and (max-width: 835px) and (min-width: 300px) {
    .priority-5 {
        display: none;
    }

    .priority-4 {
        display: none;
    }

    .priority-3 {
        display: none;
    }
}

@media screen and (max-width: 300px) {
    .priority-5 {
        display: none;
    }

    .priority-4 {
        display: none;
    }

    .priority-3 {
        display: none;
    }

    .priority-2 {
        display: none;
    }
}
